<a href="https://colab.research.google.com/github/wooihaw/ERA3036_T2215/blob/main/Chapter_1/Chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ERA3036 Machine Learning Concepts and Technology

## Chapter 1

### Slide 25

In [ ]:
# A list is a collection of items in a specific order
alist = [57, 4.6, 'Hello', -7.5, 'world']

# A dictionary holds information in pairs of data called key-value pairs.
adict = {'name': 'Tan', 'age':45}

In [ ]:
# Check the data type of the variables
print(type(alist), type(adict))

### Slide 26

In [ ]:
# assign the integer value 3 to variable a
a = 3
# assign the decimal value 4.0 to variable b
b = 4.0
# assign the string 'Abc123' to variable c
c = 'Abc123'

In [ ]:
print(type(a), type(b), type(c))
print(a.__sizeof__())  # check the size (in bytes) of the variable

### Slide 27

In [ ]:
# Python supports multiple assignments:
a = b = 0
c, d = -3.4, 5 + 6j
c, d = d, c

# To determine the data type of a variable:
print(type(a))
print(type(c))
print(type(d))

# To convert between data types:
a = 5
b = float(a)
c = str(a)
d = int(23.4)

### Slide 30

In [ ]:
# Using format method:
a, b, c = 6, 'apples', 1.5
print('{} {} cost ${:.2f}'.format(a, b, c))

# Using f-string for string formatting (Python 3.6 and above):
a, b, c = 6, 'apples', 1.5
print(f'{a} {b} cost ${c:.2f}')

### Slide 32

In [ ]:
mark = 51
if mark >= 50:
    print("You passed the test!")
else:
    print("You failed the test!")

a = "Passed" if mark>=50 else "Failed"

### Slide 33

In [ ]:
mark = 51
if mark >= 70:
    print("You scored an 'A'!")
elif mark >= 60:
    print("You scored a 'B'!")
elif mark >= 50:
    print("You scored a 'C'!")
else:
    print("You failed the test!")

### Slide 35

In [ ]:
# To print the numbers from 0 to 9:
for i in range(10):
    print(i)
    
# To print even number from 2 to 8:
i = 0
while i < 10:
    i += 2
    print(i)

### Slide 36

In [ ]:
# Using a loop to generate a list of square numbers:
squares = []
for i in range(1, 11):
    squares.append(i**2)
    
# Using list comprehension to generate the same list:
squares = [i**2 for i in range(1, 11)]

# Using list comprehension to capitalize the first alphabet of the names in a list:
names = ['ali', 'bala', 'chan', 'david']
cap_names = [n.capitalize() for n in names]
print(cap_names)

### Slide 39

In [ ]:
# Read and store the contents of a file as a string:
with open('atext.txt', 'r') as f:
    astring = f.read() # including newline character
print(astring)

In [ ]:
# Read one line of a file and store it as a string:
with open('atext.txt', 'r') as f:
    astring2 = f.readline()  # including newline character
print(astring2)

In [ ]:
# Read and store the contents of a file as a list of lines:
with open('atext.txt', 'r') as f:
    alist = f.readlines() # including newline character
print(alist)

### Slide 40

In [ ]:
# Write a string to a file:
astring = 'ERA3036 Machine Learning Concepts and Technologies'
with open('btext.txt', 'w') as f:
    f.write(astring) # newline character is not appended

In [ ]:
alist = ['Line 1\n', 'Line 2\n', 'Line 3\n']
# Write a list to a file:
with open('ctext.txt', 'w') as f:
    f.writelines(alist)  # newline character is not appended

### Slide 45

In [ ]:
import numpy as np
# Create a NumPy array from a Python list
array = np.array([1, 2, 3])
print(array)

In [ ]:
alist = [1, 2, 3]  # Python list
print(2 * alist)

In [ ]:
print(2 * array)

In [ ]:
# Create a 5-integer array filled with zeros
a = np.zeros(5, dtype=int)
print(a)

In [ ]:
# Create a 3x2 floating-point array filled with 1s
b = np.ones((3, 2), dtype=float)
print(b)

In [ ]:
# Create a 2x3 array filled with 3.14
c = np.full((2, 3), 3.14)
print(c)

### Slide 46

In [ ]:
import numpy as np
# Create an array filled with linear sequence
# Starting at 0, ending at 3, stepping by 0.5
d = np.arange(0, 3, 0.5)
print(d)

In [ ]:
# Create an array of 5 values evenly spaced from 0 to 1
e = np.linspace(0, 1, 5)
print(e)

In [ ]:
# Create a 3x3 array of uniformly distributed random
# values between 0 and 1
f = np.random.random((3, 3))
print(f)

### Slide 47

In [ ]:
import numpy as np
# Create a 2x3 array of random integers in interval [0, 10)
x = np.random.randint(0, 10, (2, 3))
print(x)

In [ ]:
print(x.ndim)    # dimensionality
print(x.shape)   # shape of array
print(x.size)    # number of element

In [ ]:
print(x[0, 1])   # element at row 0, column 1

print(x[1, -1])  # element at row 1, last column (column 2)

print(x[1, :])   # elements at row 1

print(x[:, -1])  # elements at last column (column 2)

print(x[:2, 1:]) # elements at row 0-1, column 1-2

### Slide 48

In [ ]:
import numpy as np
# Create a 10-integer array from 0 to 9
y = np.arange(0, 10)
print(y)

In [ ]:
# Reshape to a 2x5 array
print(y.reshape(2, 5))

In [ ]:
# Reshape to an array with 5 rows
# number of columns will be automatically calculated
print(y.reshape(5, -1))

### Slide 49

In [ ]:
import numpy as np
z = np.arange(0, 6).reshape(2, 3)
print(z)

In [ ]:
# Stack arrays vertically
aa = np.vstack([z, z])
print(aa)

In [ ]:
# Stack arrays horizontally
print(np.hstack([z, z]))

In [ ]:
# Split array vertically
upper, lower = np.vsplit(aa, [1])
print(upper)

In [ ]:
# Split array horizontally
left, right = np.hsplit(aa, [2])
print(right)

### Slide 52

In [ ]:
import pandas as pd

step_data = [3620, 7891, 9761, 3907, 4338, 5373]

step_counts = pd.Series(step_data, name='steps')

print(step_counts)

In [ ]:
# Add a date range to the Series
step_counts.index = pd.date_range('20150329', periods=6)

print(step_counts)

### Slide 53

In [ ]:
# Just like a dictionary
print(step_counts['2015-04-01'])
# Or by index position--like an array
print(step_counts[3])

In [ ]:
# Select all of April
print(step_counts['2015-04'])

### Slide 54

In [ ]:
import numpy as np
# View the data type
print(step_counts.dtypes)

In [ ]:
# Convert to a float
step_counts = step_counts.astype(np.float)

# View the data type
print(step_counts.dtypes)

### Slide 55

In [ ]:
# Create invalid data
step_counts[1:3] = np.NaN
print(step_counts)

# Now fill it in with zeros
step_counts = step_counts.fillna(0.)
# equivalently, 
# step_counts.fillna(0., inplace=True)

print(step_counts[1:3])

### Slide 56

In [ ]:
# Step data
step_data = [3620, 7891, 9761, 3907, 4338, 5373]

# Cycling distance
cycling_data = [10.7, 0, None, 2.4, 15.3, 10.9, 0, None]

# Create a tuple of data
joined_data = list(zip(step_data, cycling_data))

# The dataframe
activity_df = pd.DataFrame(joined_data)

print(activity_df)

### Slide 57

In [ ]:
# Add column names to dataframe
activity_df = pd.DataFrame(joined_data, 
                           index=pd.date_range('20150329', 
                                               periods=6), 
                           columns=['Walking','Cycling'])

print(activity_df)

### Slide 58

In [ ]:
# Select row of data by index name
print(activity_df.loc['2015-04-01'])

In [ ]:
# Select row of data by integer position
print(activity_df.iloc[-3])

### Slide 59

In [ ]:
# Dictionary approach
print(activity_df['Walking'])

In [ ]:
# Object-oriented approach
print(activity_df.Walking)

### Slide 60

In [ ]:
# First column (Column 0)
print(activity_df.iloc[:,0])

### Slide 61

In [ ]:
# The location of the data file
filepath = '../data/iris_data.csv'
# Import the data
data = pd.read_csv(filepath)

# Print a few rows 
print(data.iloc[:5])

### Slide 62

In [ ]:
# Create a new column that is a product 
# of both measurements
data['sepal_area'] = data.sepal_length * data.sepal_width

# Print a few rows and columns
print(data.iloc[:5, -3:])

### Slide 63

In [ ]:
# The lambda function applies what 
# follows it to each row of data
data['abbrev'] = (data
                 .species
                 .apply(lambda x:
                        x.replace('Iris-','')))
# Note that there are other ways to 
# accomplish the above

print(data.iloc[:5, -3:])

### Slide 64

In [ ]:
# Concatenate the first two and 
# last two rows
small_data = pd.concat([data.iloc[:2], data.iloc[-2:]])
print(small_data.iloc[:,-3:])

### Slide 65

In [ ]:
# Use the size method with a 
# DataFrame to get count
# For a Series, use the .value_counts 
# method
group_sizes = (data.groupby('species').size())

print(group_sizes)

### Slide 66

In [ ]:
# Mean calculated on a DataFrame
print(data.mean())

In [ ]:
# Median calculated on a Series
print(data.petal_length.median())

In [ ]:
# Mode calculated on a Series
print(data.petal_length.mode())

In [ ]:
# Standard dev, and variance on a series 
print(data.petal_length.std(),
      data.petal_length.var())

### Slide 67

In [ ]:
# Print statistical description
print(data.describe())

### Slide 68

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(-np.pi, np.pi, 50)
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x, y_sin, 'r*-', label= 'sin')
plt.plot(x, y_cos, 'bo-', label= 'cos')
plt.xlabel('x coordinates')
plt.ylabel('y coordinates')
plt.title('A Matplotlib example')
plt.legend(loc='best')
plt.grid(axis='both')
plt.show()

### Slide 69

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Use a fixed random seed number
np.random.seed(42)

pts = np.random.randint(0, 20, (10, 2))

plt.scatter(pts[:, 0], pts[:, 1], color='b', marker='*')
plt.xlabel('x-coord')
plt.ylabel('y-coord')
plt.title('A Matplotlib scatterplot example')
plt.grid(axis='both')
plt.show()

### Slide 70

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Use a fixed random seed number
np.random.seed(42)

values = np.random.randint(0, 20, 100)
bins_1 = np.arange(0, 21)

plt.hist(values, color='b', bins=bins_1)
plt.xlabel('Values')
plt.ylabel('Frequency of occurrence')
plt.title('A Matplotlib histogram example')
plt.xticks(range(0, 20))
plt.grid(axis='y')
plt.show()

### Slide 71

In [ ]:
import matplotlib.pyplot as plt

x = ['A', 'B', 'C', 'F']
y = [21, 42, 29, 8]

plt.bar(x, y, color=['b', 'g', 'g', 'r'])
plt.xlabel('Grade')
plt.ylabel('No. of students')
plt.title('Summary of results')
plt.show()

### Slide 72

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(-np.pi, np.pi, 25)
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.subplot(2, 1, 1)
plt.plot(x, y_sin, 'r.-')
plt.title('Sine')

plt.subplot(2, 1, 2)
plt.plot(x, y_cos, 'b^-')
plt.title('Cosine')

plt.tight_layout()
plt.show()